<header>
    <div class="navbar navbar-dark bg-primary">
        <div class="navbar-brand align-item-center d-flex">
                 <strong>Employees Data</strong>
                 <mat-form-field appearance="standard">
                 <!--  <mat-label>Filter</mat-label> -->
                    <input matInput (keyup)="applyFilter($event)" placeholder="Employees" #input>
                  </mat-form-field>
         </div>
    </div>
  </header>
<div>
     
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
       
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef><mat-checkbox checked="true"></mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let element"><mat-checkbox unchecked="true"></mat-checkbox>
                <pre>  </pre><mat-icon>create</mat-icon></mat-cell>
        </ng-container>
       
       
        <ng-container matColumnDef="empId">
            <mat-header-cell *matHeaderCellDef>Sno.</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.empId}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="empName">
            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-form-field floatLabel="never">
                    <input matInput placeholder="empName" [value]="element.empName" [(ngModel)]="element.empName">
                </mat-form-field>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="mobileNumber">
            <mat-header-cell *matHeaderCellDef>mobileNumber</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.mobileNumber}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="emailId">
            <mat-header-cell *matHeaderCellDef>EmailId</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.emailId}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="officeTransport">
            <mat-header-cell *matHeaderCellDef>Transport</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.officeTransport}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="cafeteriaSubscription">
            <mat-header-cell *matHeaderCellDef>Cafeteria</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.cafeteriaSubscription}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef ="Button">
            <mat-header-cell *matHeaderCellDef>Project</mat-header-cell>
            <mat-cell *matCellDef="let element"><button mat-icon-button color="primary" mat-raised-button (click)="openDialog(element)"><mat-icon>info</mat-icon></button></mat-cell>
        </ng-container>
   
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <mat-header-cell class="mat-row" *matNoDataRow>
            <mat-row class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</mat-row>
        </mat-header-cell>
    </mat-table>
</div>               
